.button{
    border-radius: 2px;
    text-align: center;
    display: block;
    
    cursor: pointer;
    transition: background-color 0.5s;
    
    /* Taken from https://css-tricks.com/almanac/properties/u/user-select/ */
    -webkit-user-select: none;      /* Chrome all / Safari all */
    -moz-user-select: none;         /* Firefox all */
    -ms-user-select: none;          /* IE 10+ */
    user-select: none;              /* Likely future */ 
}
.button:hover{
    background-color: red;
    
}
#buttonDiv{
    width: 20%;
    
    margin:40%;
    margin-top: 10%;
    z-index: 1;
}
#loginB{
    width:90%;
    padding: 5%;
    font-size: 1em;
    
}
#registerB{
    width:40%;
    padding:4%;
    font-size: 40%;
    margin-left: 26%;
    text-align: center;
    overflow: 
}
form{
    position:fixed;
    width: 30%;
    padding: 20px;
    top: 200px;
    margin-top:10%;
    left:35%;
    background-color: green;
    border-radius: 2px;
    text-align: center;
    
    transition: top 1s, visibility 2s;
    
    z-index: 3;
}
#shading{
    position: absolute;
    top:0;
    left:0 !important;
    width:100%;
    height:200%;
    background-color: rgba(2,2,2,0.5);
    
    transition: background-color 1s;
    z-index: 2;
}
#login{
    
}
#register{
    
}
.hidden{
    top: -200% !important;
}
.invis{
    background-color: rgba(2,2,2,0) !important;
}