div{
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 5px;
}
#serverList{

}
#friendList{

}
#chatRoom{

}
#roomList{

}
#chat{

}
#chatWindow{

}
#textFeild{

}
.text{

}
